In [12]:
print("Arman","Riyaj","Jamadar",sep="--",end="*\n")
print("bright")

Arman--Riyaj--Jamadar*
bright

In [14]:
a=55
if (a%2==0):
    print("Even")
else:
    print("odd")

odd

In [21]:
a=7
print("even") if (a%2==0) else print("odd")

odd

SyntaxError: expected 'else' after 'if' expression (1796827618.py, line 1)

In [25]:
val=input("Enter condition")
if (val=="Thirsty"):
    print("Drink Water")
else:
    print("Save Water")

Enter conditionnot thirsty
Save Water

In [27]:
print("Thristy") if val=="thirsty" else print("save")

save

In [31]:
val="thirsty"
water="hello " if val=="thirsty" else "World!"

In [32]:
print(water)

hello

In [ ]:
and 
or 
not

In [37]:
l=["arman","kunal","sam"]
if "arman" and "kunal" in l:
    print("ok")
else:
    print("not ok")

ok

In [39]:
l[1]="kuni"
print(l)

['arman', 'kuni', 'sam']

In [41]:
if "ganesh" or "talib" in l:
    print("ok")
else:
    print("not ok")

ok

In [42]:
val=""
if val:
    print("sfd")
else:
    print("js")

js

# iterable

In [56]:
l=["apple","mango","pineapple","orange"]

In [53]:
for i in l:
    a=i+"01"
    print("this fruit is",a)

this fruit is apple01
this fruit is mango01
this fruit is pineapple01

In [61]:
for i in l:
    if "o" in i and "m" in i:
        print(i)
    else:
        continue

mango

In [62]:
print(range(10))

range(0, 10)

In [64]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10