# DICTIONARIES

In [2]:
g=float("inf")
# its infinity

In [3]:
g>100

True

In [8]:
l=float("-inf")
#negative infinity

In [5]:
l>100

False

In [6]:
100>g

False

In [7]:
-1>g

False

In [10]:
dict1={"student_name":"Arman","Age":22,"Location":"Pune",24:12,"30":"15",(1,):False,True:2+3j,854:[1,2,3,42,3]}

In [12]:
dict1[True]
dict["student_name"]

dict['student_name']

In [19]:
print(dict1[24])
print(dict1[(1,)])
print(dict1[True])

12
False
(2+3j)

In [20]:
print(dict1["Talib"])

KeyError: 'Talib'

In [22]:
print(dict1.get("Ta;libv"))

None

# Add Element in Dictionary

In [23]:
d={"Address":"Bengaluru"}

In [24]:
d["Country"]="India"

In [25]:
d

{'Address': 'Bengaluru', 'Country': 'India'}

In [26]:
d['country']="Bharat"

In [27]:
d

{'Address': 'Bengaluru', 'Country': 'India', 'country': 'Bharat'}

In [28]:
t=(23,"meeraj")

In [29]:
d[t]="some "

In [30]:
d

{'Address': 'Bengaluru',
 'Country': 'India',
 'country': 'Bharat',
 (23, 'meeraj'): 'some '}

In [33]:
#update values
d['country']="Hindustan"

In [32]:
d

{'Address': 'Bengaluru',
 'Country': 'India',
 'country': 'Hindustan',
 (23, 'meeraj'): 'some '}

# Delete Operations on Dictionary

In [34]:
d

{'Address': 'Bengaluru',
 'Country': 'India',
 'country': 'Hindustan',
 (23, 'meeraj'): 'some '}

In [35]:
d.pop('Address')

'Bengaluru'

In [36]:
d

{'Country': 'India', 'country': 'Hindustan', (23, 'meeraj'): 'some '}

In [37]:
d.clear()
d

{}

In [38]:
d2={"Mango":"Green","Apple":"Red","Banana":"Yellow","Banana":"Green","lichi":"Red"}

In [39]:
d2

{'Mango': 'Green', 'Apple': 'Red', 'Banana': 'Green', 'lichi': 'Red'}

In [40]:
d2.keys()

dict_keys(['Mango', 'Apple', 'Banana', 'lichi'])

In [41]:
type(d2.keys())

dict_keys

In [43]:
for i in d2.keys():
    print(i,d2[i])

Mango Green
Apple Red
Banana Green
lichi Red

In [44]:
d2.values()

dict_values(['Green', 'Red', 'Green', 'Red'])

In [45]:
for i in d2.values():
    print(i)

Green
Red
Green
Red

In [47]:
d=dict(amran="dmsndf",ldfhode="dkhnasnd")

In [48]:
d

{'amran': 'dmsndf', 'ldfhode': 'dkhnasnd'}

In [49]:
d.items()

dict_items([('amran', 'dmsndf'), ('ldfhode', 'dkhnasnd')])

In [51]:
for i in d.items():
    print(i)

('amran', 'dmsndf')
('ldfhode', 'dkhnasnd')

In [52]:
d2=dict((1,2,3)="meghna")

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (2053101061.py, line 1)

In [54]:
d3=dict(one=1,two=2) #keys need to be character only
d3

{'one': 1, 'two': 2}

In [57]:
#Question to print dictionary as keys and values as there squares
d={}
for i in range(11):
    d[i]= i*i

In [58]:
print(d)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [72]:
d1={}
for i in range(ord("A"),ord("Z")+1):
    d[(chr(i))]=(ord(chr(i)))

In [64]:
print(d)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'O': 79, 'P': 80, 'Q': 81, 'R': 82, 'S': 83, 'T': 84, 'U': 85, 'V': 86, 'W': 87, 'X': 88, 'Y': 89, 'Z': 90}

In [83]:
d2={}
for i in range(ord("A"),ord("Z")+1):
    d2[chr(i)]=i
print(d2)

{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'O': 79, 'P': 80, 'Q': 81, 'R': 82, 'S': 83, 'T': 84, 'U': 85, 'V': 86, 'W': 87, 'X': 88, 'Y': 89, 'Z': 90}

# Set
## A set is an unordered collection of items. Every Set element is unique(no duplicates) and must be IMMUTABLE(unchangeble). Our Set itself is MUTABLE

In [84]:
s={1,2,4}
print(type(s))

<class 'set'>

In [85]:
s1=set()
type(s1)

set

In [88]:
s.add("arman")

In [89]:
print(s)

{1, 2, 4, 'arman'}

In [92]:
for i in range(4):
    s.add(input())

arman
jhs
ss
djs

In [93]:
s

{1, 2, 4, 'arman', 'djs', 'jhs', 'ss'}

In [94]:
s.update(["arman","ashds","adshhysh"])

In [95]:
s

{1, 2, 4, 'adshhysh', 'arman', 'ashds', 'djs', 'jhs', 'ss'}

In [96]:
s.discard('arman')
print(s)

{1, 2, 4, 'jhs', 'adshhysh', 'ashds', 'djs', 'ss'}

In [99]:
print(s.discard('arman'))

None

In [101]:
s.remove((1))

In [102]:
s

{2, 4, 'adshhysh', 'ashds', 'djs', 'jhs', 'ss'}

In [103]:
s.clear()
s

set()

In [104]:
s={1,2,4}

In [105]:
s.pop()
s

{2, 4}